# Environment information

In [ ]:
import sys
print("Python:", sys.version)

import numpy
print("NumPy:", numpy.__version__)

import pandas
print("Pandas:", pandas.__version__)

import sklearn
print("Scikit-learn:", sklearn.__version__)

import nltk
print("NLTK:", nltk.__version__)

import spacy
print("SpaCy:", spacy.__version__)

Python: 3.7.10 (default, Feb 20 2021, 21:17:23)
[GCC 7.5.0]
NumPy: 1.19.5
Pandas: 1.1.5
Scikit-learn: 0.22.2.post1
NLTK: 3.2.5
SpaCy: 2.2.4

# Pandas example

In [ ]:
#!pip install gdown
#import gdown
#gdown.download(url="https://drive.google.com/uc?id=xy", output="datasets/xy.tsv", quiet=False)

!ls datasets

amazon_alexa.tsv  Health_AnimalBites.csv

In [ ]:
df_bites = pandas.read_csv('datasets/Health_AnimalBites.csv', sep=',', quoting=0, header=0)

#print(type(df))

df_bites.head()

             bite_date SpeciesIDDesc  ... release_date ResultsIDDesc
0  1985-05-05 00:00:00           DOG  ...          NaN       UNKNOWN
1  1986-02-12 00:00:00           DOG  ...          NaN       UNKNOWN
2  1987-05-07 00:00:00           DOG  ...          NaN       UNKNOWN
3  1988-10-02 00:00:00           DOG  ...          NaN       UNKNOWN
4  1989-08-29 00:00:00           DOG  ...          NaN       UNKNOWN

[5 rows x 15 columns]

In [ ]:
df_alexa = pandas.read_csv('datasets/amazon_alexa.tsv', sep='\t', quoting=0, header=0)

df_alexa.head()

   rating  ... feedback
0       5  ...        1
1       5  ...        1
2       4  ...        1
3       5  ...        1
4       5  ...        1

[5 rows x 5 columns]

In [ ]:
df_alexa.describe()

            rating     feedback
count  3150.000000  3150.000000
mean      4.463175     0.918413
std       1.068506     0.273778
min       1.000000     0.000000
25%       4.000000     1.000000
50%       5.000000     1.000000
75%       5.000000     1.000000
max       5.000000     1.000000

# Scikit-learn example

In [ ]:
from sklearn.model_selection import train_test_split

df_train, df_test = train_test_split(df_alexa, test_size=0.2, shuffle=True, random_state=13) # fix the seed

In [ ]:
df_train.describe()

            rating    feedback
count  2520.000000  2520.00000
mean      4.453175     0.91746
std       1.079690     0.27524
min       1.000000     0.00000
25%       4.000000     1.00000
50%       5.000000     1.00000
75%       5.000000     1.00000
max       5.000000     1.00000

In [ ]:
df_test.describe()

           rating    feedback
count  630.000000  630.000000
mean     4.503175    0.922222
std      1.022399    0.268034
min      1.000000    0.000000
25%      4.000000    1.000000
50%      5.000000    1.000000
75%      5.000000    1.000000
max      5.000000    1.000000

## TF-IDF

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
corpus = [
    'This is the first document.',
    'This document is the second document.',
    'And this is the third one.',
    'Is this the first document?',
]
vectorizer = TfidfVectorizer()

X = vectorizer.fit_transform(corpus)

print(vectorizer.get_feature_names())

print(X.shape)

['and', 'document', 'first', 'is', 'one', 'second', 'the', 'third', 'this']
(4, 9)

In [ ]:
test_corpus = [
    "Hello, this is something else.",
    "Hi, this is something else it is."
]

Z = vectorizer.transform(test_corpus)

print(Z.shape)

(2, 9)

### Displaying sparse matrix

In [ ]:
print("X:")
print(X)
print("Z:")
print(Z)

#print(type(X))

#print(X.toarray())
#print(X.A)

#print(type(X.toarray()))
#print(type(X.A))

#X.data = numpy.round(X.data, 3)
#print(X.toarray())

#Z.data = numpy.round(Z.data, 3)
#print(Z.toarray())

X:
  (0, 1)	0.46979138557992045
  (0, 2)	0.5802858236844359
  (0, 6)	0.38408524091481483
  (0, 3)	0.38408524091481483
  (0, 8)	0.38408524091481483
  (1, 5)	0.5386476208856763
  (1, 1)	0.6876235979836938
  (1, 6)	0.281088674033753
  (1, 3)	0.281088674033753
  (1, 8)	0.281088674033753
  (2, 4)	0.511848512707169
  (2, 7)	0.511848512707169
  (2, 0)	0.511848512707169
  (2, 6)	0.267103787642168
  (2, 3)	0.267103787642168
  (2, 8)	0.267103787642168
  (3, 1)	0.46979138557992045
  (3, 2)	0.5802858236844359
  (3, 6)	0.38408524091481483
  (3, 3)	0.38408524091481483
  (3, 8)	0.38408524091481483
Z:
  (0, 8)	0.7071067811865475
  (0, 3)	0.7071067811865475
  (1, 8)	0.4472135954999579
  (1, 3)	0.8944271909999159

# SpaCy example

In [ ]:
#nlp = spacy.load("en_core_web_sm", disable=["ner"])

#! python3 -m spacy download en
nlp = spacy.load("en")

#print(type(nlp))
print("Pipeline:", nlp.pipe_names)

Pipeline: ['tagger', 'parser', 'ner']

In [ ]:
doc = nlp("spaCy is a free, open-source library for advanced Natural Language Processing (NLP) in Python.")

#print(type(doc))

In [ ]:
from spacy import displacy

displacy.render(doc, style="dep", jupyter=True, options={'distance': 130})

In [ ]:
displacy.render(doc, style="ent", jupyter=True)

## List of tokens

In [ ]:
tableData = ([token, token.shape_, token.is_alpha, token.is_stop,
              token.pos_, spacy.explain(token.pos_),
              token.tag_, spacy.explain(token.tag_),
              token.dep_, spacy.explain(token.dep_)] for token in doc)

pandas.DataFrame(tableData, columns=["text", "shape", "alphanumeric", "stop word",
                                 "pos", "Coarse-grained part-of-speech",
                                 "tag", "Fine-grained part-of-speech",
                                 "dep", "Syntactic dependency relation"])

          text  shape  ...       dep  Syntactic dependency relation
0        spaCy  xxxXx  ...     nsubj                nominal subject
1           is     xx  ...      ROOT                           None
2            a      x  ...       det                     determiner
3         free   xxxx  ...      amod            adjectival modifier
4            ,      ,  ...     punct                    punctuation
5         open   xxxx  ...      amod            adjectival modifier
6            -      -  ...     punct                    punctuation
7       source   xxxx  ...  compound                       compound
8      library   xxxx  ...      attr                      attribute
9          for    xxx  ...      prep         prepositional modifier
10    advanced   xxxx  ...      amod            adjectival modifier
11     Natural  Xxxxx  ...      nmod            modifier of nominal
12    Language  Xxxxx  ...  compound                       compound
13  Processing  Xxxxx  ...      nmod            modifier of nominal
14           (      (  ...     punct                    punctuation
15         NLP    XXX  ...      pobj          object of preposition
16           )      )  ...     punct                    punctuation
17          in     xx  ...      prep         prepositional modifier
18      Python  Xxxxx  ...      pobj          object of preposition
19           .      .  ...     punct                    punctuation

[20 rows x 10 columns]

## List of noun phrases in the document

In [ ]:
pandas.DataFrame((chunk.text for chunk in doc.noun_chunks), columns=["text"])

                                        text
0                                      spaCy
1                a free, open-source library
2  advanced Natural Language Processing (NLP
3                                     Python

## List of named entities, phrases and concepts

In [ ]:
pandas.DataFrame(([entity.text, entity.label_] for entity in doc.ents), columns=["text", "label"])

                          text label
0  Natural Language Processing   ORG
1                          NLP   ORG
2                       Python   GPE

## spaCy NLP pipe

### Naive approach

In [ ]:
for sentence in corpus:
    doc = nlp(sentence)
    display(pandas.DataFrame(([token.text, token.pos_] for token in doc),
                             columns=["token", "pos"]))

      token    pos
0      This    DET
1        is    AUX
2       the    DET
3     first    ADJ
4  document   NOUN
5         .  PUNCT

      token    pos
0      This    DET
1  document   NOUN
2        is    AUX
3       the    DET
4    second    ADJ
5  document   NOUN
6         .  PUNCT

   token    pos
0    And  CCONJ
1   this    DET
2     is    AUX
3    the    DET
4  third    ADJ
5    one    NUM
6      .  PUNCT

      token    pos
0        Is    AUX
1      this    DET
2       the    DET
3     first    ADJ
4  document   NOUN
5         ?  PUNCT

### Using nlp.pipe()

In [ ]:
for doc in nlp.pipe(corpus):
    display(pandas.DataFrame(([token.text, token.pos_] for token in doc),
                             columns=["token", "pos"]))

      token    pos
0      This    DET
1        is    AUX
2       the    DET
3     first    ADJ
4  document   NOUN
5         .  PUNCT

      token    pos
0      This    DET
1  document   NOUN
2        is    AUX
3       the    DET
4    second    ADJ
5  document   NOUN
6         .  PUNCT

   token    pos
0    And  CCONJ
1   this    DET
2     is    AUX
3    the    DET
4  third    ADJ
5    one    NUM
6      .  PUNCT

      token    pos
0        Is    AUX
1      this    DET
2       the    DET
3     first    ADJ
4  document   NOUN
5         ?  PUNCT

# NLTK Brown corpus

In [ ]:
from nltk.corpus import brown

nltk.download('brown')
nltk.download('universal_tagset')

type(brown)

[nltk_data] Downloading package brown to /root/nltk_data...
[nltk_data]   Package brown is already up-to-date!
[nltk_data] Downloading package universal_tagset to /root/nltk_data...
[nltk_data]   Package universal_tagset is already up-to-date!

nltk.corpus.util.LazyCorpusLoader

## Show the words in the corpus

In [ ]:
brown.words()[:20]

['The',
 'Fulton',
 'County',
 'Grand',
 'Jury',
 'said',
 'Friday',
 'an',
 'investigation',
 'of',
 "Atlanta's",
 'recent',
 'primary',
 'election',
 'produced',
 '``',
 'no',
 'evidence',
 "''",
 'that']

In [ ]:
brown.tagged_words()[:20]

[('The', 'AT'),
 ('Fulton', 'NP-TL'),
 ('County', 'NN-TL'),
 ('Grand', 'JJ-TL'),
 ('Jury', 'NN-TL'),
 ('said', 'VBD'),
 ('Friday', 'NR'),
 ('an', 'AT'),
 ('investigation', 'NN'),
 ('of', 'IN'),
 ("Atlanta's", 'NP$'),
 ('recent', 'JJ'),
 ('primary', 'NN'),
 ('election', 'NN'),
 ('produced', 'VBD'),
 ('``', '``'),
 ('no', 'AT'),
 ('evidence', 'NN'),
 ("''", "''"),
 ('that', 'CS')]

In [ ]:
brown.tagged_words(tagset='universal')[:20]

[('The', 'DET'),
 ('Fulton', 'NOUN'),
 ('County', 'NOUN'),
 ('Grand', 'ADJ'),
 ('Jury', 'NOUN'),
 ('said', 'VERB'),
 ('Friday', 'NOUN'),
 ('an', 'DET'),
 ('investigation', 'NOUN'),
 ('of', 'ADP'),
 ("Atlanta's", 'NOUN'),
 ('recent', 'ADJ'),
 ('primary', 'NOUN'),
 ('election', 'NOUN'),
 ('produced', 'VERB'),
 ('``', '.'),
 ('no', 'DET'),
 ('evidence', 'NOUN'),
 ("''", '.'),
 ('that', 'ADP')]

## Show the sentences in the corpus

In [ ]:
brown.sents()

[['The', 'Fulton', 'County', 'Grand', 'Jury', 'said', 'Friday', 'an', 'investigation', 'of', "Atlanta's", 'recent', 'primary', 'election', 'produced', '``', 'no', 'evidence', "''", 'that', 'any', 'irregularities', 'took', 'place', '.'], ['The', 'jury', 'further', 'said', 'in', 'term-end', 'presentments', 'that', 'the', 'City', 'Executive', 'Committee', ',', 'which', 'had', 'over-all', 'charge', 'of', 'the', 'election', ',', '``', 'deserves', 'the', 'praise', 'and', 'thanks', 'of', 'the', 'City', 'of', 'Atlanta', "''", 'for', 'the', 'manner', 'in', 'which', 'the', 'election', 'was', 'conducted', '.'], ...]

In [ ]:
sentences = brown.tagged_sents(tagset="universal")
sentences

[[('The', 'DET'), ('Fulton', 'NOUN'), ('County', 'NOUN'), ('Grand', 'ADJ'), ('Jury', 'NOUN'), ('said', 'VERB'), ('Friday', 'NOUN'), ('an', 'DET'), ('investigation', 'NOUN'), ('of', 'ADP'), ("Atlanta's", 'NOUN'), ('recent', 'ADJ'), ('primary', 'NOUN'), ('election', 'NOUN'), ('produced', 'VERB'), ('``', '.'), ('no', 'DET'), ('evidence', 'NOUN'), ("''", '.'), ('that', 'ADP'), ('any', 'DET'), ('irregularities', 'NOUN'), ('took', 'VERB'), ('place', 'NOUN'), ('.', '.')], [('The', 'DET'), ('jury', 'NOUN'), ('further', 'ADV'), ('said', 'VERB'), ('in', 'ADP'), ('term-end', 'NOUN'), ('presentments', 'NOUN'), ('that', 'ADP'), ('the', 'DET'), ('City', 'NOUN'), ('Executive', 'ADJ'), ('Committee', 'NOUN'), (',', '.'), ('which', 'DET'), ('had', 'VERB'), ('over-all', 'ADJ'), ('charge', 'NOUN'), ('of', 'ADP'), ('the', 'DET'), ('election', 'NOUN'), (',', '.'), ('``', '.'), ('deserves', 'VERB'), ('the', 'DET'), ('praise', 'NOUN'), ('and', 'CONJ'), ('thanks', 'NOUN'), ('of', 'ADP'), ('the', 'DET'), ('City', 'NOUN'), ('of', 'ADP'), ('Atlanta', 'NOUN'), ("''", '.'), ('for', 'ADP'), ('the', 'DET'), ('manner', 'NOUN'), ('in', 'ADP'), ('which', 'DET'), ('the', 'DET'), ('election', 'NOUN'), ('was', 'VERB'), ('conducted', 'VERB'), ('.', '.')], ...]

In [ ]:
sentences[:2]

[[('The', 'DET'),
  ('Fulton', 'NOUN'),
  ('County', 'NOUN'),
  ('Grand', 'ADJ'),
  ('Jury', 'NOUN'),
  ('said', 'VERB'),
  ('Friday', 'NOUN'),
  ('an', 'DET'),
  ('investigation', 'NOUN'),
  ('of', 'ADP'),
  ("Atlanta's", 'NOUN'),
  ('recent', 'ADJ'),
  ('primary', 'NOUN'),
  ('election', 'NOUN'),
  ('produced', 'VERB'),
  ('``', '.'),
  ('no', 'DET'),
  ('evidence', 'NOUN'),
  ("''", '.'),
  ('that', 'ADP'),
  ('any', 'DET'),
  ('irregularities', 'NOUN'),
  ('took', 'VERB'),
  ('place', 'NOUN'),
  ('.', '.')],
 [('The', 'DET'),
  ('jury', 'NOUN'),
  ('further', 'ADV'),
  ('said', 'VERB'),
  ('in', 'ADP'),
  ('term-end', 'NOUN'),
  ('presentments', 'NOUN'),
  ('that', 'ADP'),
  ('the', 'DET'),
  ('City', 'NOUN'),
  ('Executive', 'ADJ'),
  ('Committee', 'NOUN'),
  (',', '.'),
  ('which', 'DET'),
  ('had', 'VERB'),
  ('over-all', 'ADJ'),
  ('charge', 'NOUN'),
  ('of', 'ADP'),
  ('the', 'DET'),
  ('election', 'NOUN'),
  (',', '.'),
  ('``', '.'),
  ('deserves', 'VERB'),
  ('the', 'DET'),
  ('praise', 'NOUN'),
  ('and', 'CONJ'),
  ('thanks', 'NOUN'),
  ('of', 'ADP'),
  ('the', 'DET'),
  ('City', 'NOUN'),
  ('of', 'ADP'),
  ('Atlanta', 'NOUN'),
  ("''", '.'),
  ('for', 'ADP'),
  ('the', 'DET'),
  ('manner', 'NOUN'),
  ('in', 'ADP'),
  ('which', 'DET'),
  ('the', 'DET'),
  ('election', 'NOUN'),
  ('was', 'VERB'),
  ('conducted', 'VERB'),
  ('.', '.')]]